@import "tailwindcss";

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-800 font-sans antialiased selection:bg-indigo-100 selection:text-indigo-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
